{% extends 'base.html' %}

{% block contenido %}

<h2 class="mb-4">
    ℹ Acerca del sistema
</h2>

<div class="card">

    <div class="card-body">

        <table class="table">

            <tr>
                <th width="220">Sistema</th>
                <td>Sistema de Inventario Comercial</td>
            </tr>

            <tr>
                <th>Versión</th>
                <td>1.1.0</td>
            </tr>

            <tr>
                <th>Desarrollador</th>
                <td>Luis Daniel García</td>
            </tr>

            <tr>
                <th>Tecnología</th>
                <td>Python • Flask • MySQL</td>
            </tr>

            <tr>
                <th>Licencia</th>
                <td>Uso comercial</td>
            </tr>

        </table>

    </div>

</div>

{% endblock %}