{% extends 'base.html' %}

{% block contenido %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h1>Productos</h1>

    <a href="/productos/nuevo" class="btn btn-success">
        + Nuevo Producto
    </a>

</div>

<form method="GET" action="/productos" class="mb-3">

    <div class="input-group">

        <input
            type="text"
            name="busqueda"
            class="form-control"
            placeholder="Buscar producto..."
            value="{{ busqueda }}">

        <button class="btn btn-primary">
            Buscar
        </button>

    </div>

</form>

<table class="table table-bordered table-hover bg-white">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Color</th>
            <th>Descripción</th>
            <th>Precio Compra</th>
            <th>Precio Venta</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>

    </thead>

    <tbody>

        {% for producto in productos %}

        <tr>

            <td>{{ producto.id_producto }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.color }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>${{ producto.precio_compra }}</td>
            <td>${{ producto.precio_venta }}</td>
            <td>{{ producto.stock_actual }}</td>

            <td>

                <a href="/productos/editar/{{ producto.id_producto }}"
                   class="btn btn-warning btn-sm">
                    Editar
                </a>

                <a href="/productos/eliminar/{{ producto.id_producto }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Desactivar producto?')">
                    Desactivar
                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}