{% extends 'base.html' %}

{% block contenido %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h1>Ventas</h1>

    <a href="/ventas/nueva"
       class="btn btn-success">
       + Nueva Venta
    </a>

</div>

<form method="GET" action="/ventas" class="mb-3">

    <div class="input-group">

        <input
            type="text"
            name="busqueda"
            class="form-control"
            placeholder="Buscar cliente..."
            value="{{ busqueda }}">

        <button class="btn btn-primary">
            Buscar
        </button>

    </div>

</form>

<table class="table table-bordered table-hover bg-white">

    <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Unidad</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>

    </thead>

    <tbody>

        {% for venta in ventas %}

        <tr>

            <td>{{ venta.id_venta }}</td>

            <td>{{ venta.fecha.strftime('%d/%m/%Y %H:%M') if venta.fecha else '' }}</td>

            <td>{{ venta.cliente }}</td>

            <td>{{ venta.producto }}</td>

            <td>{{ venta.unidad }}</td>

            <td>{{ venta.cantidad | cantidad }}</td>

            <td>${{ "{:,.0f}".format(venta.total).replace(",", ".") }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}